@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }

  body { 
    @apply font-body bg-background text-on-surface;
    min-height: max(884px, 100dvh);
    overflow-x: hidden;
  }

  #root {
    min-height: 100dvh;
    overflow-x: clip;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { 
    display: none; 
  }
  .no-scrollbar { 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}
